@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    /* color: white; */
}

html,body{
    overflow-x: hidden;
}

.custom-audio-player audio::-webkit-media-controls-panel {
    background-color: white;
    display: flex;
    
    border-radius: 8px;
  }