@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    /* color: white; */
}

html,body{
    overflow-x: hidden;
}

.custom-audio-player audio::-webkit-media-controls-panel {
    background-color: white;
    display: flex;
    
    border-radius: 8px;
  }


  .volume-slider-container {
    width: 0;
    height: 0;
    overflow: hidden;
    transition: width 0.5s ease-in-out, height 0.5s ease-in-out;
  }
  
  .volume-slider-container.open {
    width: 50px;
    height: 100px;
  }
  
  .volume-slider {
    height: 100px;
    writing-mode: bt-lr; /* IE */
    -webkit-appearance: slider-vertical; /* WebKit */
    width: 8px;
    height: 100px;
    padding: 0;
    background: #dadada;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .volume-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: #4CAF50;
    cursor: pointer;
  }
  
  .volume-slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: #4CAF50;
    cursor: pointer;
  }